.contenedor-formulario{
    background-color: var(--white);
    width: 400px;
    height: 300px;
    border: 2px solid var(--green);
    margin: auto;
    justify-content: center;
}
h1{
    font-size: 25px;
    color: #000;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

input{
    display: flex;
    margin: auto;
    flex-direction: column;
    


}
button{
    display: flex;
    margin: auto;
    flex-direction: column;
}
